html {
  box-sizing: border-box;
  font-size: 100%;
}
* {
  box-sizing: inherit;
}

/* you will add css rules for element selectors and IDs */

#cougar {
  background: #FFD5AE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lion {
  background: #B26219;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tiger {
  background: #FFBD82;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  margin: 0;
  color: #000;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

section {
  max-width: 600px;
  margin: 0;
}

.text {
  background: #FFF;
  color: #000000;
  line-height: 1.5rem;
  padding: 1.5rem 2.5rem;
  margin:1rem;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  background: #333;
  margin: 0;
  padding: 1rem;
}

header {
  padding: .5rem 2rem;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin-top: 1rem;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}

header a{
  text-decoration: none;
}

#lion a{
  color: #005166
}

#lion a:hover {
    color: #82E8FF;
}
